body {
	background-color: #EB1A0C;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
    text-transform: uppercase;
}

embed, iframe, object
{
max-width: 100%;
}

/***********Home***************/

.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
	flex-direction: column;
}

.home-flex-item-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    align-content: space-between;
	flex-direction: column;
}

.home-title {
	color: white;
	font-weight: bold;
}

.hero-image{
    background: url(../img/header1.jpg) no-repeat center / cover;
	width: 100%;
    height: 320px;  
}

/*Hero-Image for iphone 4*/
@media screen and (max-height: 480px){
    .hero-image{
        height: 260px;
    }
}

/*Hero-Image for iphone 5*/
@media screen and (min-height: 481px){
    .hero-image{
        height: 350px;
    }
}
/*Hero-Image for iphone 6 plus*/
@media screen and (min-height: 668px){
    .hero-image{
        height: 400px;
    }
}

/* Hero-image,Text & inputs for iphones and up*/
@media screen and (min-width: 320px) and (max-width: 415px){
    .home-title{
        font-size: 3em
    }
    .home-flex-item-container {
        margin-top: -95px;
    }
    .home-search-input input{
        padding: 10px;
        font-size: 1em;
    }
    .home-search-input button {
        padding: 12px;
        font-size: 1em;
    }
    .home-description {
        font-size: 1.3em;
    }
    .home-social p{
        font-size: 1.3em;
    }
}

/* Hero-image,Text & inputs for iphones in landscape mode*/
@media screen and (min-width: 420px) and (max-width: 760px){
    .home-title{
        font-size: 3em
    }
    .home-flex-item-container {
        margin-top: -95px;
    }
    .home-search-input input{
        padding: 10px;
        font-size: 1em;
    }
    .home-search-input button {
        padding: 12px;
        font-size: 1em;
    }
    .home-description {
        font-size: 1.3em;
    }
    .home-social p{
        font-size: 1.3em;
    }
}


/* Hero-image,Text & inputs for ipads mini and Air*/
@media screen and (min-width: 768px) {
    .hero-image{
        height: 600px;
    }
    .home-flex-item-container {
        margin-top: -135px;
    }
    .home-title{
        font-size: 4em
    }
    .home-search-input input{
        padding: 20px;
        font-size: 1.8em;
    }
    .home-search-input button {
        padding: 22px;
        font-size: 1.8em;
    }
    .home-description {
        font-size: 2em;
    }
    .home-social p{
        font-size: 2em;
    }
}

/* Hero-image,Text & inputs for ipad*/
@media screen and (min-width: 1024px) {
    .hero-image{
        height: 600px;
    }
    .home-flex-item-container {
        margin-top: -145px;
    }
    .home-title{
        font-size: 5em
    }
    .home-search-input input{
        padding: 20px;
        font-size: 1.8em;
    }
    .home-search-input button {
        padding: 22px;
        font-size: 1.8em;
    }
    .home-description {
        font-size: 2.5em;
    }
    .home-social p{
        font-size: 2.5em;
    }
}


.home-search-input input {
	color: black;
}

.home-search-input button {
	background-color: #F65800;
    border: none;
    color: white;
}

.home-description {
	color: white;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.home-social {
	display: flex;
    align-items: center;
	flex-flow: column;
}

.social-icons {
	display: flex;
	align-items: center;
    justify-content: center;
}

.home-social img {
	width: 40px;
	height: 40px;
    border-radius: 3px;
    background: white;
    margin-right: 10px;
}

.home-social p {
	color: white;
	font-weight: bold;
    margin-bottom: 10px;
}

/**************END CSS LOADER**********/
/**************CSS HOME****************/
.container-fluid {
	display: none;
	margin: 0px;
	margin-right: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
}

.maps {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.bars_list {
	max-height: 700px;
}

.bar_total {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.bars_name {
	font-size: 35px;
	margin: 0px;
	line-height: 29px;
}


.bar_total {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.bars_name {
	font-size: 35px;
	margin: 0px;
	line-height: 29px;
}

.bars_adress {
	font-size: 25px;
	margin: 0px;
}

.bars {
	border-bottom: 1px solid white;
	color: white;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 10px;

}

.sun {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.sun_detail {
	width: 15%;
	height: 15%;
}

.image {
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div #bdv-control-left, div #bdv-control-right, div .bdv-diagno-nav-dots, div .bdv-logo, div .bdv-logo30, div .transitall, div .bdv-luminosity-info, div #bdv-charts-wrapper {
	display: none;
}

div #bdv-diagnosis-wrap {
	margin: 0px;
}

div #bdv-item-title {
	background: none;
	border-bottom: none;
}

h5 {
	font-size: 15px;
}




/************MEQIA QUERIES *********************/


@media screen and (max-width: 400px) {
  .bars_name {
    font-size: 15px;
    line-height: 17px;
  }

  .bars_adress {
  	font-size: 12px;
  }

  .image {
  	width: 75px;
  	height: 75px;
  }

  .container-fluid {
  }

  iframe {
  	height: 200px;
  }
}


@media screen and (min-width: 400px) and (max-width: 460px) {
  .bars_name {
    font-size: 19px;
    line-height: 21px;
  }

  .bars_adress {
  	font-size: 15px;
  }

  .image {
  	width: 85px;
  	height: 85px;
  }

  .container-fluid {
  }

  iframe {
  	height: 230px;
  }
}
