body {
	background-color: #EB1A0C;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
    text-transform: uppercase;
}

embed, iframe, object
{
max-width: 100%;
}

/***********Home***************/

.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
	flex-direction: column;
}

.home-flex-item-container {
	width: 100%;
    margin-top: -95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    align-content: space-between;
	flex-direction: column;
}

.home-title {
	color: white;
	font-weight: bold;
	font-size: 3em;
}

.hero-image{
    background: url(../img/header1.jpg) no-repeat center / cover;
	width: 100%;
    min-height: 320px;
    
}

.home-search-input input {
    padding: 8px;
	color: black;
	font-size: 1em;
}

.home-search-input button {
	background-color: #F65800;
    border: none;
    padding: 10px;
	font-size: 1em;
    color: white;
}

.home-description {
	color: white;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.4em;
}

.home-social {
	margin-bottom: 50px;
	display: flex;
    align-items: center;
	flex-flow: column wrap;
}

.social-icons {
	display: flex;
	align-items: center;
    justify-content: space-around;
}

.home-social img {
	width: 40px;
	height: 40px;
    border-radius: 3px;
    background: white;
}

.home-social p {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
    margin-bottom: 5px;
}

/**************END CSS LOADER**********/
/**************CSS HOME****************/
.container-fluid {
	display: none;
	margin: 0px;
	margin-right: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
}

.maps {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.bars_list {
	max-height: 700px;
}

.bar_total {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.bars_name {
	font-size: 35px;
	margin: 0px;
	line-height: 29px;
}


.bar_total {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.bars_name {
	font-size: 35px;
	margin: 0px;
	line-height: 29px;
}

.bars_adress {
	font-size: 25px;
}

.bars {
	border-bottom: 1px solid white;
	color: white;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}

.image {
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div #bdv-control-left, div #bdv-control-right, div .bdv-diagno-nav-dots, div .bdv-logo, div .bdv-logo30, div .transitall, div .bdv-luminosity-info, div #bdv-charts-wrapper {
	display: none;
}

div #bdv-diagnosis-wrap {
	margin: 0px;
}

div #bdv-item-title {
	background: none;
	border-bottom: none;
}

h5 {
	font-size: 15px;
}